* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  padding: 10px 40px;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.justify-content-around {
  justify-content: space-around;
}
.flex-column {
  flex-direction: column;
}

.google-btn {
  width: 400px;
  border: 1px solid lightgray !important;
  text-align: center;
  justify-content: center;
  box-shadow: 1px 1px 10px lightgray;
}

.bg-red {
  background-color: #bc382e;
}
.bg-secondary {
  background-color: lightgray;
}
