.header-container {
  width: 100vw;
  background-color: transparent;
  color: #fff;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.header-container .brand p {
  font-size: 40px;
  font-weight: 500;
}
.links .link-items {
  margin: auto 15px;
  text-decoration: none;
  color: #fff;
}
.user-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
